.form-login {
    background-color: rgb(245, 245, 116);
    width: 800px;
    border: 1px solid #2d2d2d;
    display: inline-block;
    padding: 12px;
}

.form-title, label{
    color: rgba(24, 21, 21, 0.835);
    margin-top: 10px;
}



